{% extends 'back_office.html.twig' %}

{% block title %}New ValiderConge{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Create new ValiderConge</h1>

        {{ include('valider_conge/_form.html.twig') }}

        <a class="btn btn-secondary mt-3" href="{{ path('app_valider_conge_index') }}">
            <i class="fas fa-arrow-left me-2"></i>Back to list
        </a>
    </div>
{% endblock %}