{% extends 'back_office.html.twig' %}

{% block title %}New Absence{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Create New Absence</h1>

        {{ include('absence/_form.html.twig') }}

        <div class="d-flex justify-content-between mt-4">
            <a class="btn btn-secondary" href="{{ path('app_absence_index') }}">
                <i class="fas fa-arrow-left me-2"></i>Back to list
            </a>
            <button type="submit" form="absence_form" class="btn btn-success">
                <i class="fas fa-save me-2"></i>Save Absence
            </button>
        </div>
    </div>
{% endblock %}