{% extends 'back_office.html.twig' %}

{% block title %}Edit Formation
{% endblock %}

{% block body %}
	<h1>Edit Formation</h1>

	{{ include('formations/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}

{% block cjs %}
	<script>

		$(document).ready(function () {

$('#formation_is_online').bootstrapToggle();
if ($('#formation_is_online').prop('checked')) {
$('#f_place').hide();
$('#f_lat_lng').hide();
}
$('#formation_is_online').change(function () {
if ($(this).prop('checked')) {
$('#f_place').hide();
$('#f_lat_lng').hide();
} else {
$('#f_place').show();
$('#f_lat_lng').show();
}
});

});
	</script>
{% endblock %}
