<form method="post" action="{{ path('app_reset_password_request_delete', {'id': reset_password_request.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reset_password_request.id) }}">
    <button class="btn">Delete</button>
</form>
